{
  "[python]": {
    "editor.defaultFormatter": "ms-python.black-formatter",
    "editor.formatOnSave": true
  },
  "editor.formatOnSave": true,
  "files.associations": {
    "**/.vscode/settings.json.example": "jsonc",
    "**/requirements{/**,*}.{txt,in}": "pip-requirements"
  },
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "gitlens.plusFeatures.enabled": false,
  "gitlens.showWelcomeOnInstall": false,
  "gitlens.showWhatsNewAfterUpgrades": false
}
